body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container_login {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    margin: 10px;
}

.container {
    flex: auto;
    max-width: 90%;
    max-height: 90%;
    height: auto;
    margin: 10px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin: 0 0 20px;
    text-align: center;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background: #218838;
}

#chat {
    display: none;
}

.messages {
    border: 1px solid #ccc;
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.message {
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.message:last-child {
    border-bottom: none;
}

#register {
    display: none;
}

.toggle-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background: #121212;
        color: #e0e0e0;
    }

    .container_login,
    .container {
        background: #1e1e1e;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    }

    input {
        background: #333;
        border: 1px solid #555;
        color: #e0e0e0;
    }

    button {
        background: #28a745;
        color: #fff;
    }

    button:hover {
        background: #218838;
    }

    .messages {
        border: 1px solid #555;
        background: #1e1e1e;
    }

    .message {
        border-bottom: 1px solid #555;
    }

    .toggle-button {
        color: #66b0ff;
    }
}
